<a href="https://colab.research.google.com/github/wendywqz/Pandas_exercises/blob/main/Dataset%20testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import io
import numpy as np
import pandas as pd
import keras
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import seaborn as sns

In [2]:
chicago_taxi_dataset = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/chicago_taxi_train.csv")

In [4]:
df=pd.read_csv("https://download.mlcc.google.com/mledu-datasets/chicago_taxi_train.csv")
print(df.head())

    TRIP_START_TIMESTAMP     TRIP_END_TIMESTAMP  TRIP_START_HOUR  \
0  05/17/2022 7:15:00 AM  05/17/2022 7:45:00 AM             7.25
1  05/17/2022 5:15:00 PM  05/17/2022 5:30:00 PM            17.25
2  05/17/2022 5:15:00 PM  05/17/2022 5:30:00 PM            17.25
3  05/17/2022 6:00:00 PM  05/17/2022 7:00:00 PM            18.00
4  05/17/2022 5:00:00 PM  05/17/2022 5:30:00 PM            17.00

   TRIP_SECONDS  TRIP_MILES  TRIP_SPEED  PICKUP_CENSUS_TRACT  \
0          2341        2.57         4.0                  NaN
1          1074        1.18         4.0                  NaN
2          1173        1.29         4.0         1.703132e+10
3          3360        3.70         4.0         1.703132e+10
4          1044        1.15         4.0         1.703132e+10

   DROPOFF_CENSUS_TRACT  PICKUP_COMMUNITY_AREA  DROPOFF_COMMUNITY_AREA   FARE  \
0                   NaN                    NaN                    17.0  31.99
1          1.703108e+10                    NaN                     8.0   9.75
2          1.703108e+10                   32.0                     8.0  10.25
3          1.703124e+10                   32.0                    24.0  23.75
4          1.703108e+10                   32.0                     8.0  10.00

   TIPS  TIP_RATE  TOLLS  EXTRAS  TRIP_TOTAL PAYMENT_TYPE  \
0   2.0       6.3    0.0     0.0       33.99       Mobile
1   3.0      27.9    0.0     1.0       14.25  Credit Card
2   0.0       0.0    0.0     0.0       10.25         Cash
3   0.0       0.0    0.0     1.0       24.75         Cash
4   0.0       0.0    0.0     0.0       10.00         Cash

                   COMPANY
0                Flash Cab
1                Flash Cab
2                 Sun Taxi
3  Choice Taxi Association
4                Flash Cab

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31694 entries, 0 to 31693
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TRIP_START_TIMESTAMP    31694 non-null  object
 1   TRIP_END_TIMESTAMP      31694 non-null  object
 2   TRIP_START_HOUR         31694 non-null  float64
 3   TRIP_SECONDS            31694 non-null  int64
 4   TRIP_MILES              31694 non-null  float64
 5   TRIP_SPEED              31694 non-null  float64
 6   PICKUP_CENSUS_TRACT     13259 non-null  float64
 7   DROPOFF_CENSUS_TRACT    14023 non-null  float64
 8   PICKUP_COMMUNITY_AREA   28477 non-null  float64
 9   DROPOFF_COMMUNITY_AREA  28199 non-null  float64
 10  FARE                    31694 non-null  float64
 11  TIPS                    31694 non-null  float64
 12  TIP_RATE                31694 non-null  float64
 13  TOLLS                   31694 non-null  float64
 14  EXTRAS                  31694 non-null  float64
 15  TRIP_TOTAL              31694 non-null  float64
 16  PAYMENT_TYPE            31694 non-null  object
 17  COMPANY                 31694 non-null  object
dtypes: float64(13), int64(1), object(4)
memory usage: 4.4+ MB
None

In [6]:
print(df.describe())

       TRIP_START_HOUR  TRIP_SECONDS    TRIP_MILES    TRIP_SPEED  \
count     31694.000000  31694.000000  31694.000000  31694.000000
mean         14.185635   1319.796397      8.289463     20.256544
std           5.159454    928.932873      7.265672     11.110390
min           0.000000     60.000000      0.500000      4.000000
25%          10.500000    548.000000      1.720000     11.000000
50%          14.750000   1081.000000      5.920000     17.600000
75%          18.000000   1888.000000     14.500000     27.500000
max          23.750000   7140.000000     68.120000     64.800000

       PICKUP_CENSUS_TRACT  DROPOFF_CENSUS_TRACT  PICKUP_COMMUNITY_AREA  \
count         1.325900e+04          1.402300e+04           28477.000000
mean          1.703153e+10          1.703140e+10              35.562138
std           3.827747e+05          3.408106e+05              26.421367
min           1.703102e+10          1.703101e+10               1.000000
25%           1.703108e+10          1.703108e+10               8.000000
50%           1.703132e+10          1.703132e+10              32.000000
75%           1.703198e+10          1.703184e+10              59.000000
max           1.703198e+10          1.703198e+10              77.000000

       DROPOFF_COMMUNITY_AREA          FARE          TIPS      TIP_RATE  \
count            28199.000000  31694.000000  31694.000000  31694.000000
mean                25.550410     23.905210      3.246130     12.965785
std                 20.349707     16.970022      4.284567     15.517765
min                  1.000000      3.250000      0.000000      0.000000
25%                  8.000000      9.000000      0.000000      0.000000
50%                 28.000000     18.750000      2.000000     12.200000
75%                 32.000000     38.750000      5.000000     20.800000
max                 77.000000    159.250000     60.000000    648.600000

              TOLLS        EXTRAS    TRIP_TOTAL
count  31694.000000  31694.000000  31694.000000
mean       0.002744      2.410468     29.755053
std        0.164343      5.805087     23.145537
min        0.000000      0.000000      3.250000
25%        0.000000      0.000000     10.750000
50%        0.000000      0.000000     21.700000
75%        0.000000      4.000000     48.265000
max       27.000000     85.000000    248.500000

In [7]:
column_data=df.columns
print(column_data)

Index(['TRIP_START_TIMESTAMP', 'TRIP_END_TIMESTAMP', 'TRIP_START_HOUR',
       'TRIP_SECONDS', 'TRIP_MILES', 'TRIP_SPEED', 'PICKUP_CENSUS_TRACT',
       'DROPOFF_CENSUS_TRACT', 'PICKUP_COMMUNITY_AREA',
       'DROPOFF_COMMUNITY_AREA', 'FARE', 'TIPS', 'TIP_RATE', 'TOLLS', 'EXTRAS',
       'TRIP_TOTAL', 'PAYMENT_TYPE', 'COMPANY'],
      dtype='object')

In [9]:
column_data = df['FARE']
print(column_data)

0        31.99
1         9.75
2        10.25
3        23.75
4        10.00
         ...
31689    32.50
31690    44.50
31691    30.75
31692    41.75
31693    47.25
Name: FARE, Length: 31694, dtype: float64

In [11]:
row_data = df.iloc[0:3]
print(row_data)

    TRIP_START_TIMESTAMP     TRIP_END_TIMESTAMP  TRIP_START_HOUR  \
0  05/17/2022 7:15:00 AM  05/17/2022 7:45:00 AM             7.25
1  05/17/2022 5:15:00 PM  05/17/2022 5:30:00 PM            17.25
2  05/17/2022 5:15:00 PM  05/17/2022 5:30:00 PM            17.25

   TRIP_SECONDS  TRIP_MILES  TRIP_SPEED  PICKUP_CENSUS_TRACT  \
0          2341        2.57         4.0                  NaN
1          1074        1.18         4.0                  NaN
2          1173        1.29         4.0         1.703132e+10

   DROPOFF_CENSUS_TRACT  PICKUP_COMMUNITY_AREA  DROPOFF_COMMUNITY_AREA   FARE  \
0                   NaN                    NaN                    17.0  31.99
1          1.703108e+10                    NaN                     8.0   9.75
2          1.703108e+10                   32.0                     8.0  10.25

   TIPS  TIP_RATE  TOLLS  EXTRAS  TRIP_TOTAL PAYMENT_TYPE    COMPANY
0   2.0       6.3    0.0     0.0       33.99       Mobile  Flash Cab
1   3.0      27.9    0.0     1.0       14.25  Credit Card  Flash Cab
2   0.0       0.0    0.0     0.0       10.25         Cash   Sun Taxi